<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments/header :: styles"/>
    <title>Dashboard</title>
</head>
<body>
<div th:insert="fragments/header :: navbar">Dashboard</div>
<header th:insert="fragments/header :: breadcrumbs(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#">Home</a></li>
        <li><a href="#" th:href="@{/task}">Tasks</a></li>
    </ol>
</header>
<form th:action="@{/logout}" method='POST'>
    <button type="submit" class="btn btn-secondary">Logout</button>
</form>
<div th:replace="fragments/footer :: footer">&copy; 2016 Pay My Buddy</div>
</body>
</html>
