<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments/header :: styles" />
    <title th:text="${title}">Title</title>
</head>
<body>
<section>
    <div class="container mt-4 border border-2 rounded">
        <div class="row justify-content-md-center m-3">
            <div class="col col-lg-2">
            </div>
            <div class="col-6 text-center">
                <div th:replace="fragments/logo :: logo"></div>
                <form name='f' th:action="@{/login}" method='POST'>
                    <div class="alert alert-danger" th:if="${param.error}">
                        Incorrect username or password.
                    </div>
                    <div class="mb-4 mt-5">
                        <div class="input-group has-validation">
                            <div class="input-group-text">@</div>
                            <input class="form-control form-control-lg" type='text' placeholder="Email" name='username'
                                   required autofocus>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group has-validation">
                            <div class="input-group-text">@</div>
                            <input class="form-control form-control-lg" type='password' placeholder="Password"
                                   name='password' required/>
                        </div>
                    </div>
                    <div class="mb-4 col-4 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMeCheckDefault"
                               name="remember-me"/>
                        <label class="form-check-label" for="rememberMeCheckDefault">
                            Remember Me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary mb-3 px-5" name="submit" type="submit" value="submit">
                        <b>Login</b>
                    </button>
                </form>
            </div>
            <div class="col col-lg-2">
            </div>
        </div>
    </div>

</section>
<div th:replace="fragments/footer :: footer">&copy; 2016 Pay My Buddy</div>
</body>
</html>
